In [ ]:

import pandas as pd


schools = pd.read_csv("schools.csv")


schools.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [177]:
total_score = 800
best_math_schools = schools[schools["average_math"] > total_score*0.8][["school_name","average_math"]].sort_values("average_math", ascending= False)
best_math_schools

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [179]:
import numpy as np
#with df method
schools["total_SAT"]= schools[["average_math","average_reading","average_writing"]].sum(axis=1)
top_10_schools= schools.sort_values("total_SAT", ascending=False)[["school_name","total_SAT"]].head(10)
top_10_schools

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [182]:

boroughs = schools.groupby('borough')["total_SAT"].agg(["count", "mean", "std"]).round(2)
print(boroughs.head())


largest_std_dev_filter = boroughs[boroughs["std"]== boroughs['std'].max()]


largest_std_dev= largest_std_dev_filter.rename(columns={'count':'num_schools', 'mean':'average_SAT', 'std':'std_SAT'})


largest_std_dev

               count     mean     std
borough
Bronx             98  1202.72  150.39
Brooklyn         109  1230.26  154.87
Manhattan         89  1340.13  230.29
Queens            69  1345.48  195.25
Staten Island     10  1439.00  222.30

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29